body {
    background-color: green;
    overflow: hidden;
}

img {
    position: absolute;
    width: 100px;
    animation: movimiento-pelota 3s linear 0s infinite normal both;
}

/* .stopped {
    animation-play-state: paused;
} */

label {
    background-color: black;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    user-select: none;
}

#tChkChangeStatus:not(:checked) + img {
    animation-play-state: paused;
}

#tChkChangeStatus:checked + img {
    animation-play-state: running;
}

@keyframes movimiento-pelota {
    0% {
        left: 10%;
        top: 10%;
        transform: rotate(0deg)
    }
    20% {
        left: 90%;
        top: 30%;
    }
    50% {
        left: 30%;
        top: 90%;
    }
    100% {
        left: 10%;
        top: 10%;
        transform: rotate(360deg);
    }
}